.container.user-new{style: "margin-top: 125px"}
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .col-md-12
      %header.row.user-nav.row
        .col-md-12
          %h2 Register
          .user-name_image.row
            %h4 Image
            .user-image
              = f.file_field :avatar
            %h4 Name
            .user-name
              = f.text_field :name, autofocus: true, placeholder: "Name", required: true
            %h4 Image
            .user-email
            = f.email_field :email, placeholder:"E-Mail"
            %h4 Password
            .user-password
            = f.password_field :password, placeholder: "Password"
            %h4 Member of
            .user-user-member.row
              = f.text_field :group_id, placeholder: "Group"
            %h4 Profile
            .user-user-profile.row
              = f.text_area :profile, cols: "30", rows: "4", placeholder: "Profile"
          .row.text-center.user-btn
            = f.submit value: "Save", class: 'btn btn-lg btn-primary btn-block'
