.panel.panel-default
  .panel-body
    %span= tweet.user.name
    %span= tweet.user.email
    %span=  time_ago_in_words (tweet.created_at - 9.hour)
  - if tweet.title?
    .panel-heading
      %span= tweet.title
  .panel-body
    %h5= tweet.tweet
