.contents.row{action: ""}
  .form-horizontal{ style: "margin-top: 80px" }
    = form_for @tweet do |f|
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :group_id, value: 1
      = f.hidden_field :piece_id, value: 1
      %fieldset
        %legend
        .form-group
          = f.label :title, class: 'col-lg-2 control-label'
          .col-lg-10
            = f.text_field :title, placeholder: 'Title', class: 'form-control'
        .form-group
          = f.label :tweet, class: 'col-lg-2 control-label'
          .col-lg-10
            = f.text_area :tweet, placeholder: '青春はみづきの下をかよふ風あるいは遠い線路のかがやき', class: 'form-control', rows: '3'
        .row.text-center.proto-btn
          = f.submit value: "Submit", class: 'btn btn-primary'
