= form_for(@user) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Edit Profile
        .user-name_image.row
          = f.email_field :email, placeholder: "E-Mail"
          .user-name.col-md-10
            = f.text_field :name, placeholder: "Username"
          .user-image.col-md-2
            %button.btn.btn-primary Change image
            = f.file_field :avatar
      .col-md-12
        %h4 Group of
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :group, placeholder: "Group"
        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_area :profile, cols: "30", rows: "4", placeholder: "Profile"
            end
    .row.text-center.user-btn
      = f.submit value: "Save", class: "btn btn-lg btn-primary btn-block"
